# Project exclude paths
/top-openings/externalAPIRequest-voto-userScript/target/
/top-openings/producer-externalAPIRequest/target/
/top-openings/producer-userScript/target/

# Directorios de compilación
/target/
/build/

# Archivos de IntelliJ IDEA
/.idea/
/*.iml

# Archivos de configuración y temporales
*.log
*.class
*.jar
*.war
*.ear
*.env
